<div class="container">
      <form>
        <h2 class="mealTitle">Breakfast</h2>
        <label for="food eaten" class="form-label">Food Eaten</label>
        <textarea class="form-control" id="breakfastFood" rows="4"></textarea>

        <div class="row">
          <div class="col">
            <select class="form-select" aria-label="Default select example">
              <option selected>TIME</option>
              <option value="5">5:00am</option>
              <option value="6">6:00am</option>
              <option value="7">7:00am</option>
              <option value="8">8:00am</option>
              <option value="9">9:00am</option>
              <option value="10">10:00am</option>
              <option value="11">11:00am</option>
            </select>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text">lb</span>
              <input type="text" class="form-control" aria-label="Amount" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Bloating</label
              >
            </div>
          </div>
          <div class="col">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Headache</label
              >
            </div>
          </div>
          <div class="col">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Gas</label
              >
            </div>
          </div>
          <div class="col">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Itchiness</label
              >
            </div>
          </div>
          <div class="col">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Reflux</label
              >
            </div>
          </div>
          <div class="col">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Redness/Flushing</label
              >
            </div>
          </div>
          <div class="col">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Nose Running</label
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" id = "howLongLabel">
            <label for="food eaten" class="form-label" 
              >How long after meal:</label
            >
          </div>
          <div class="col-8">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox1"
              value="option1"
            />
            <label class="form-check-label" for="inlineCheckbox1">Immediately</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              value="option2"
            />
            <label class="form-check-label" for="inlineCheckbox2">Within 1st Hour</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              value="option2"
            />
            <label class="form-check-label" for="inlineCheckbox2">1 to 2 Hours</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="inlineCheckbox2"
              value="option2"
            />
            <label class="form-check-label" for="inlineCheckbox2">2 - 4 hours</label>
          </div>
          
        </div>
        </div>
      </form>
    </div>