#mealTitle {
  /* color: white; */
  /* background-color: black; */
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  /* opacity: 0.8; */
}
#savebtn {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  margin-bottom: 25px;
}
.container{
  /* margin-bottom: 25px;
  border-style: solid;
   */
   background-color: #fbfbf8;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}


.row {
  /* margin-top: 20px; */
  /* box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45); */
}
#howLongLabel {
  text-align: right;
}
.navbar {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  margin-bottom: 25px;
}
body {
  /* background-color: coral; */
  /* background-color: #fbfbf8;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45); */
}
